/* w > 980 && w < 1100 */

#left {
    width:30%;
    min-height:60px;
}
#right {
    width:70%;
    min-height:60px;
}
#navigation {
    display:none;
}
#menu {
    display:block;
    width: 100%;
    height: 40px;
    padding: 20px 0 0 0;
    font-size:1.2em;
}
#menu .item {
    padding: 0 20px;
}

/* ************************************************************************************************** */

.informations {
    padding: 20px 100px;
}
#gaming {
    text-align: left;
    padding: 20px 80px;
}
#Jeu {
    display: block;
    float: left;
    margin: 0;
}
#text-game {
    min-width: 800px;
    padding: 0 0 0 300px;
}

h1 {
    font-size:1.2em;
    line-height:1;
}
h2 {
    font-size:1.0em;
    line-height:1.1;
}
h3 {
    font-size:0.9em;
    line-height:1;
}
h4 {
    font-size:0.85em;
    line-height:0.9;
}
h5 {
    font-size:0.7em;
}
p {
    font-size:0.85em;
    line-height:1.25;
}

#text-game {
    padding: 0 0 0 300px;
}
